<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/DSC01026.JPG'); background-position: 50% 60%; height: 550px">
</div>

<div class="uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title">Supporters</h1>
      <p class="uk-text">
        <i>Comet</i> debuted in Chicago in June 2024, utilizing a small production. In order to get it on its feet, we
        needed help to pay the well-deserving cast and crew.
      </p>
      <p class="uk-text">
        A very sincere thank you goes to the following for making the creation of <span class="uk-text-italic">Comet</span>
        possible:
      </p>

      <div class="uk-margin-medium-top" *ngFor="let donorTier of donorTiers">
        <h3 class="title-dark uk-heading uk-text-center uk-margin-remove-bottom uk-text-uppercase {{donorTier.titleClass}}">{{donorTier.title}}</h3>
        <div class="uk-hidden@s">
          <p class="uk-text-center uk-margin-remove uk-text-uppercase {{donorTier.membersClass}}" *ngFor="let member of donorTier.members">
            {{member}}
          </p>
        </div>
        <div class="uk-visible@s">
          <p class="uk-text-center uk-margin-remove-top uk-text-uppercase {{donorTier.membersClass}}">
            <span class="uk-margin-right" *ngFor="let member of donorTier.members">{{member}}</span>
          </p>
        </div>
      </div>
    </article>

    <div class="uk-grid uk-child-width-1-3@m">
      <div *ngFor="let entry of typeToMembers | keyvalue: returnZero">
        <h4 class="title-dark uk-heading uk-text-uppercase uk-text-light uk-margin-top">{{entry.key}}</h4>
        <p class="uk-margin-remove" *ngFor="let person of entry.value" [innerHTML]="person"></p>
      </div>
    </div>

    <div class="uk-grid uk-child-width-1-1">
      <h4 class="title-dark uk-heading uk-text-uppercase uk-text-light uk-margin-top">Live Performance Sound Effects</h4>
      <p class="uk-margin-remove" *ngFor="let resource of resources" [innerHTML]="resource"></p>
    </div>

    <!--
    <p class="uk-text">
      <span class="uk-text-lead">$2000</span> pays for rehearsal space rentals, props, and a $100 stipend for cast and crew
    </p>

    <p class="uk-text">
      <span class="uk-text-lead">$2500</span> pays for the above, more rehearsal time, and a $100 stipend for the executive team
    </p>

    <p class="uk-text">
      <span class="uk-text-lead">$2500+</span> allows for a profit split between the cast and crew!
    </p>

    <p class="uk-text">So how can you support us? Either...</p>

    <div class="uk-grid uk-child-width-1-1@s uk-flex uk-flex-center uk-text-center">
      <div>
        <a href="https://www.gofundme.com/f/comet-presented-by-rhinofest-2024" target="_blank" class="uk-button uk-button-large uk-width-1-1 support">Donate to our GoFundMe campaign!</a>
      </div>
      <div>
        &mdash; or &mdash;
      </div>
      <div>
        <button class="uk-button uk-button-large uk-width-1-1" disabled>Bid on our Auction below!</button>
      </div>
    </div>

    <h2 class="uk-heading">Auction</h2>
    <p>Bids accepted for the next...</p>

    <div class="uk-grid-small uk-child-width-auto uk-margin uk-flex-center uk-flex" uk-grid attr.uk-countdown="date: {{AUCTION_EXPIRATION}}">
      <div>
        <div class="uk-countdown-number uk-countdown-days"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
      </div>
      <div class="uk-countdown-separator">:</div>
      <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
      </div>
      <div class="uk-countdown-separator">:</div>
      <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
      </div>
      <div class="uk-countdown-separator">:</div>
      <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
      </div>
    </div>

    <div id="item-detail" uk-modal>
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
          <h3 class="uk-modal-title">{{selectedItem.title}}</h3>
          <p *ngIf="selectedItem.chicagoOnly" class="uk-text-meta">Bids for this item are accepted only from the Chicagoland area</p>

          <form class="uk-grid-small" uk-grid (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <input
              type="hidden"
              name="itemTitle"
              required
              [(ngModel)]="model.itemTitle"
              value="{{selectedItem.title}}"
              #itemTitle="ngModel"/>
            <div class="uk-width-1-1 uk-width-1-2@s">
              <input class="uk-input"
                     type="email"
                     placeholder="Email"
                     name="email"
                     required email
                     [(ngModel)]="model.email"
                     #email="ngModel"
                     [ngClass]="email.invalid && (email.dirty || email.touched) ? 'uk-form-danger' : ''"/>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s">
              <div class="uk-inline">
                <span class="uk-form-icon">$</span>

                <input class="uk-input"
                       type="number"
                       placeholder="Bid"
                       name="bid"
                       [min]="minimumBid"
                       required
                       [(ngModel)]="model.bid"
                       #bid="ngModel"
                       [ngClass]="bid.invalid && (bid.dirty || bid.touched) ? 'uk-form-danger' : ''"/>
                </div>
            </div>
            <div class="uk-width-1-1">
              <button class="uk-button uk-button-secondary" type="submit" [disabled]="!contactForm.form.valid">
                Submit
              </button>

              <p>
                <span *ngIf="state == 'success'" uk-icon="check"></span>
                <span *ngIf="state == 'error'" uk-icon="warning"></span>
                {{message}}
              </p>
            </div>
          </form>
        </div>

        <div class="uk-modal-body">
          <div [innerHTML]="selectedItem.description"></div>
          <div *ngIf="selectedItem.descriptionMore !== undefined" [innerHTML]="selectedItem.descriptionMore"></div>

          <div *ngIf="selectedItem.images.length > 1; then slideshow; else singleImage"></div>
          <ng-template #slideshow>
            <div class="uk-position-relative uk-dark" tabindex="-1" uk-slideshow>
              <div class="uk-slideshow-items">
                <div *ngFor="let image of selectedItem.images">
                  <img class="" src="{{image}}" alt="" uk-cover>
                </div>
              </div>

              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
          </ng-template>
          <ng-template #singleImage>
            <div class="uk-flex uk-flex-center">
              <img src="{{selectedItem.images[0]}}" alt="{{selectedItem.title}}"/>
            </div>
          </ng-template>
        </div>
        <div class="uk-modal-footer uk-text-right">
        </div>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid *ngFor="let item of auctionItems">
      <div class="uk-width-1-3@s uk-flex-last@s uk-card-media-right uk-cover-container" style="background: black">
        <img src="{{item.images[0]}}" alt="{{item.title}}" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div class="uk-width-2-3@s">
        <div class="uk-card-body">
          <h3 class="uk-card-title">{{item.title}}</h3>
          <div [innerHTML]="item.description"></div>
        </div>
        <div class="uk-card-footer">
          <div class="uk-margin-small">
            <div class="uk-button-group">
              <a class="uk-button uk-button-primary uk-margin-right" type="button" href="#item-detail" (click)="select(item)" uk-toggle>Bid</a>
              <button *ngIf="item.currentBid === undefined" class="uk-button uk-button-text" disabled>Starting Bid: ${{item.startingBid}}</button>
              <button *ngIf="item.currentBid !== undefined" class="uk-button uk-button-text" disabled>Current Bid: ${{item.currentBid}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
