<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/IMG_0860.JPG'); background-position: 50% 60%; height: 550px">
</div>

<div class="uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title">About</h1>
      <p class="uk-text-lead">
        When an approaching comet threatens Earth, a small group of astronomers grapple with the question: warn the world, or keep silent?
      </p>
      <p class="uk-text">
        <span class="uk-text-italic">Comet</span> is an original play written by Alan Blake. It was first staged at Chicago
        Dramatists, as part of Rhinofest 2024. The story centers on fictional members of the Minor Planet Center (MPC),
        an international organization based in Boston, which acts as the worldwide repository of information about
        comets, asteroids, and other natural satellites. Members of the MPC serve an important purpose not only as a
        scientific body, but as one preoccupied with planetary defense; if an asteroid or comet ever threatens Earth,
        the Minor Planet Center will be the first to raise the alarm.
      </p>
      <p class="uk-text">
        <span class="uk-text-italic">Comet</span> envisions a scenario where an event like this occurs, leaving the
        fictional members of the MPC to grapple with the choice of sharing the news with the world, or concealing it.
      </p>

    </article>

    <article class="uk-article">
      <h1 class="uk-article-title">Supporters</h1>
      <p class="uk-text">
        A very sincere thank you goes to the following for making the creation of <span class="uk-text-italic">Comet</span>
        possible:
      </p>

      <div class="uk-margin-medium-top" *ngFor="let donorTier of donorTiers">
        <h3 class="title-dark uk-heading uk-text-center uk-margin-remove-bottom uk-text-uppercase {{donorTier.titleClass}}">{{donorTier.title}}</h3>
        <div class="uk-hidden@s">
          <p class="uk-text-center uk-margin-remove uk-text-uppercase {{donorTier.membersClass}}" *ngFor="let member of donorTier.members">
            {{member}}
          </p>
        </div>
        <div class="uk-visible@s">
          <p class="uk-text-center uk-margin-remove-top uk-text-uppercase {{donorTier.membersClass}}">
            <span class="uk-margin-right" *ngFor="let member of donorTier.members">{{member}}</span>
          </p>
        </div>
      </div>
    </article>

    <div class="uk-grid uk-child-width-1-3@m">
      <div *ngFor="let entry of typeToMembers | keyvalue: returnZero">
        <h4 class="title-dark uk-heading uk-text-uppercase uk-text-light uk-margin-top">{{entry.key}}</h4>
        <p class="uk-margin-remove" *ngFor="let person of entry.value" [innerHTML]="person"></p>
      </div>
    </div>
  </div>
</div>
