<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('https://picsum.photos/id/120/1200/800');">
  <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-text-left@s uk-margin-auto uk-margin-auto-vertical">
    <h1 class="uk-heading-medium uk-margin-remove">About</h1>
    <p class="uk-text uk-margin-remove">
      15 years after a comet threatens Earth, an astronomer who played a part in its discovery recounts the story
      to her niece.
    </p>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <p class="uk-text">
        <span class="uk-text-italic">Comet</span> is an original play written by Alan Blake. It was first staged at Chicago
        Dramatists, as part of Rhinofest 2024. The story centers on fictional members of the Minor Planet Center (MPC),
        an international organization based in Boston, which acts as the worldwide repository of comets, asteroids, and
        other natural satellites. Members of the MPC serve an important purpose not only as a scientific body, but
        as one preoccupied with planetary defense; if an asteroid or comet ever threatens Earth, the Minor Planet Center
        will be the first to raise the alarm.
      </p>
      <p class="uk-text">
        <span class="uk-text-italic">Comet</span> envisions a scenario where an event like this occurs, leaving the
        fictional members of the MPC to grapple with the choice of sharing the news with the world, or concealing it.
      </p>
      <p class="uk-text">
        A very sincere thank you goes to the following people for making the creation of <span class="uk-text-italic">Comet</span>
        possible:
      </p>
      <ul class="uk-list uk-list-hyphen">
        <li>Dr. Federica Spoto, Astronomer at the Minor Planet Center</li>
        <li>Dr. Matthew Payne, Director at the Minor Planet Center</li>
        <li>Mary Ruth Clarke, Screenwriter & Playwright</li>
        <li>Cristy Salinas Lynch, Screenwriter</li>
        <li>Ava Recycling</li>
      </ul>
    </article>
  </div>
</div>
