<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/IMG_0860.JPG'); background-position: 50% 60%; height: 550px">
</div>

<div class="uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title">About</h1>
      <p class="uk-text-lead">
        When an approaching comet threatens Earth, a small group of astronomers grapple with the question: warn the world, or keep silent?
      </p>
      <p class="uk-text">
        <span class="uk-text-italic">Comet</span> is an original play written by Alan Blake. It was first staged at Chicago
        Dramatists, as part of Rhinofest 2024. The story centers on fictional members of the Minor Planet Center (MPC),
        an international organization based in Boston, which acts as the worldwide repository of information about
        comets, asteroids, and other natural satellites. Members of the MPC serve an important purpose not only as a
        scientific body, but as one preoccupied with planetary defense; if an asteroid or comet ever threatens Earth,
        the Minor Planet Center will be the first to raise the alarm.
      </p>
      <p class="uk-text">
        <span class="uk-text-italic">Comet</span> envisions a scenario where an event like this occurs, leaving the
        fictional members of the MPC to grapple with the choice of sharing the news with the world, or concealing it.
      </p>
      <p class="uk-text">
        A very sincere thank you goes to the following people for making the creation of <span class="uk-text-italic">Comet</span>
        possible:
      </p>
    </article>

    <div class="uk-margin-top">
      <h3 class="uk-heading">People</h3>
      <ul class="uk-list">
        <li>Dr. Federica Spoto</li>
        <li>Dr. Matthew Payne</li>
        <li>Mary Ruth Clarke</li>
        <li>Cristy Salinas Lynch</li>
        <li>Kristin L. Schoenback</li>
        <li>Emily Anderson</li>
        <li>Michael Serio</li>
        <li>Dan Arisitdou</li>
        <li>Brian Williams</li>
      </ul>
    </div>

    <div class="uk-margin-top">
      <h3 class="uk-heading">Groups</h3>
      <ul class="uk-list">
        <li>Minor Planet Center</li>
        <li>Harvard & Smithsonian Center for Astrophysics</li>
        <li><i>Medical Miracle</i></li>
        <li><i>Improvised Fairytales</i></li>
      </ul>
    </div>

    <div class="uk-margin-top">
      <h3 class="uk-heading">Businesses</h3>
      <ul class="uk-list">
        <li>Ava Recycling</li>
        <li>Massage Envy</li>
      </ul>
    </div>
  </div>
</div>
