<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/DSC01365.JPG'); background-position: 50% 60%; height: 550px">
</div>

<div class="uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title">Contact</h1>

      <form class="uk-grid-small" uk-grid (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="uk-width-1-1 uk-width-1-2@m">
          <input class="uk-input"
                 type="text"
                 placeholder="Name"
                 name="name"
                 required
                 [(ngModel)]="model.name"
                #name="ngModel"
                [ngClass]="name.invalid && (name.dirty || name.touched) ? 'uk-form-danger' : ''"/>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@m">
          <input class="uk-input"
                 type="email"
                 placeholder="Email"
                 name="email"
                 required email
                 [(ngModel)]="model.email"
                 #email="ngModel"
                 [ngClass]="email.invalid && (email.dirty || email.touched) ? 'uk-form-danger' : ''"/>
        </div>
        <div class="uk-width-1-1">
          <textarea class="uk-textarea"
                    rows="4"
                    placeholder="Leave me a message!"
                    name="comments"
                    required
                    [(ngModel)]="model.comments"
                    #comments="ngModel"
                    [ngClass]="comments.invalid && (comments.dirty || comments.touched) ? 'uk-form-danger' : ''"></textarea>
        </div>

        <div class="uk-width-1-1">
          <button class="uk-button uk-button-secondary" type="submit" [disabled]="!contactForm.form.valid">
            Submit
          </button>

          <span class="uk-margin-left">
            <span *ngIf="state == 'success'" uk-icon="check"></span>
            <span *ngIf="state == 'error'" uk-icon="warning"></span>
            {{message}}
          </span>
        </div>
      </form>
    </article>
  </div>
</div>
