<div class="uk-section uk-margin-top">
  <div class="uk-container">
    <div *ngFor="let entry of typeToMembers | keyvalue: returnZero">
      <div class="uk-grid uk-margin-top uk-margin-bottom">
        <h2 class="uk-heading">{{entry.key}}</h2>
      </div>

      <!-- Visible on MOBILE -->
      <!--
      <ng-container *ngFor="let member of entry.value">
        <dl class="uk-hidden@365 uk-description-list uk-description-list-divider">
          <dt>{{member.firstName}} {{member.lastName}}</dt>
          <dd *ngFor="let role of member.roles">{{role}}</dd>
        </dl>
      </ng-container>
      -->

      <!-- Visible on DESKTOP -->
      <!--
      <ng-container *ngFor="let member of entry.value">
        <div class="uk-visible@365 uk-grid-small" uk-grid *ngFor="let role of member.roles">
          <div class="uk-width-expand" uk-leader="fill: .">{{role}}</div>
          <div>{{member.firstName}} {{member.lastName}}</div>
        </div>
      </ng-container>
      -->

      <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-3@m uk-flex-center uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-border-circle">
        <div class="uk-margin" *ngFor="let member of entry.value">
          <img class="uk-border-circle" src="{{member.image}}" width="300" height="300" alt="{{member.firstName}} {{member.lastName}}"/>
          <h3 class="uk-heading uk-margin-remove-bottom">{{member.firstName}} {{member.lastName}}</h3>
          <p class="uk-text uk-margin-remove" *ngFor="let role of member.roles">{{role}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
