<div class="uk-position-top">
  <nav class="uk-navbar-container" uk-navbar-transparent1>
    <div class="uk-container">
      <div uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" routerLink="home" routerLinkActive="active">COMET</a>
        </div>
        <div class="uk-navbar-right">
          <a class="uk-hidden@s uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
          <div class="uk-hidden@s uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a routerLink="about" routerLinkActive="uk-active">About</a></li>
              <li><a routerLink="cast" routerLinkActive="uk-active">Cast & Creative</a></li>
              <li><a routerLink="tickets" routerLinkActive="uk-active">Tickets</a></li>
            </ul>
          </div>

          <ul class="uk-visible@s uk-navbar-nav">
            <li><a routerLink="about" routerLinkActive="uk-active">About</a></li>
            <li><a routerLink="cast" routerLinkActive="uk-active">Cast & Creative</a></li>
            <li><a routerLink="tickets" routerLinkActive="uk-active">Tickets</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

