/* You can add global styles to this file, and also import other style files */
.support {
  background-color: #8bc34a;
  color: white;
}

.title {
  font-family: "Josefin Sans";
  color: white;
  line-height: 1;
}

.title-dark {
  font-family: "Josefin Sans";
}

