<div class="uk-background-cover uk-overflow-hidden uk-light uk-flex"
     style="background-image: url('assets/images/comet.jpeg'); background-position: 50% 60%; height: 650px">
  <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-margin-auto uk-margin-auto-vertical">
    <h1 class="title uk-heading-large uk-margin-remove">COMET</h1>
    <p class="uk-text-lead uk-margin-remove">A One-Act Play</p>

    <h3 class="title uk-heading uk-margin-large-top">DEBUTING IN CHICAGO, JUNE 2024</h3>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <div class="uk-flex uk-flex-center">
      <a href="https://www.gofundme.com/f/comet-presented-by-rhinofest-2024" target="_blank" class="uk-button uk-button-large uk-width-1-1 support">Support Us!</a>
    </div>

    <progress class="uk-progress" value="{{FUNDRAISING_CURRENT}}" max="{{FUNDRAISING_GOAL}}"></progress>

    <p class="uk-text">
      We've already reached <span class="uk-text-large">{{FUNDRAISING_CURRENT_PERCENT}}%</span> of our
      <span class="uk-text-large">${{FUNDRAISING_GOAL}}</span> goal!
    </p>

    <h2 class="uk-heading">Showtimes</h2>

    <div class="uk-card uk-card-default uk-grid" uk-grid *ngFor="let showrun of SHOWRUNS">
      <div class="uk-card-media-left uk-cover-container uk-width-2-5@s">
        <a href="{{showrun.ticketLink}}" target="_blank">
          <img src="{{showrun.address.image}}" alt="{{showrun.address.name}}" uk-cover>
        </a>
        <canvas width="600" height="600"></canvas>
      </div>
      <div class="uk-width-3-5@s">
        <div class="uk-card-body">
          <h3 class="uk-card-title uk-margin-remove-bottom">{{showrun.title}} at {{showrun.address.name}}</h3>
          <p class="uk-text-meta uk-margin-remove-top" *ngIf="showrun.address.line2">
            <a href="{{showrun.address.link}}" title="{{showrun.address.name}}" target="_blank">
              {{showrun.address.line1}} {{showrun.address.line2}}, {{showrun.address.city}}, {{showrun.address.state}} {{showrun.address.zip}}
            </a>
          </p>

          <p class="uk-text-meta uk-margin-remove-top" *ngIf="!showrun.address.line2">
            <a href="{{showrun.address.link}}" title="{{showrun.address.name}}" target="_blank">
              {{showrun.address.line1}}, {{showrun.address.city}}, {{showrun.address.state}} {{showrun.address.zip}}
            </a>
          </p>

          <p class="uk-text">{{showrun.description}}</p>

          <div *ngIf="showrun.ticketLink; then ticketsOpen; else ticketsClosed"></div>
          <ng-template #ticketsOpen>
            <div *ngIf="showrun.showtimes.length == 1; then singleShowtime; else multipleShowtimes"></div>
            <ng-template #singleShowtime>
              <a class="uk-button uk-button-primary" type="button" href="{{showrun.ticketLink}}" target="_blank">
                Tickets
              </a>
            </ng-template>
            <ng-template #multipleShowtimes>
              <button class="uk-button uk-button-primary" type="button">Tickets</button>
              <div uk-dropdown="animation: reveal-top; animation-out: true; delay-hide: 100">
                <ul class="uk-nav uk-dropdown-nav">
                  <li *ngFor="let showtime of showrun.showtimes">
                    <a href="{{showrun.ticketLink}}" target="_blank">
                      {{showtime.date | date: 'EEE, MMM d'}} at {{showtime.time}}
                    </a>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ng-template>
          <ng-template #ticketsClosed>
            <button class="uk-button uk-button-primary" disabled type="button">
              Tickets Coming Soon
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
