<div style="background: black">
  <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-background-fixed" data-src="https://picsum.photos/id/120/1200/800" uk-img>
    <div class="">
      <h1 class="uk-heading-large uk-margin-remove">COMET</h1>
      <p class="uk-text-lead uk-margin-remove">A One-Act Play</p>
      <p class="uk-text-meta uk-margin-bottom">Now playing as part of Rhinofest 2024</p>
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-heading">Showtimes</h2>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid *ngFor="let showrun of SHOWRUNS">
      <div class="uk-card-media-left uk-cover-container">
        <img src="images/light.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <article class="uk-article">
            <h4 class="uk-article-title">{{showrun.address.name}}</h4>
            <p class="uk-article-meta" *ngIf="showrun.address.line2">
              {{showrun.address.line1}} {{showrun.address.line2}}, {{showrun.address.city}}, {{showrun.address.state}} {{showrun.address.zip}}
            </p>
            <p class="uk-article-meta" *ngIf="!showrun.address.line2">
              {{showrun.address.line1}}, {{showrun.address.city}}, {{showrun.address.state}} {{showrun.address.zip}}
            </p>

            <p class="uk-text" *ngFor="let showtime of showrun.showtimes">
              {{showtime.date | date: 'EEEE, MMM d, y'}} at {{showtime.time}}
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
